<ion-header>
  <ion-toolbar>
    <ion-title>
      Select your service
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding>
    <ion-button color="primary" (click)="getservices()">Get Services on Board</ion-button>
  </div>
  <ion-card>
    <ion-list>
      <button ion-item *ngFor="let value of services" (click)="connect(value)">
      <h2> {{value.name || 'Unnamed'}}</h2>
      <p>Service uuid: {{value.uuid}}</p>
      <p>DataType: {{value.datatype}}</p>
      <p>Tx uuid: {{value.characteristic}}</p>
      </button>
    </ion-list>
  </ion-card>
</ion-content>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items">{{item}}</ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
