<ion-header>
  <ion-toolbar>
    <ion-title>
      BLE devices
    </ion-title>
    <ion-button (click)="Scan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <p>Scan</p>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2>{{device.name || 'Unnamed'}}</h2>
      <p>{{device.id}}</p>
      <p> RSSI: {{device.rssi}}</p>
      </button>
  </ion-list>
</ion-content>